:root{
    --primary-color: #074f14;
}

#logo_animada {
  animation: girar 4s linear infinite;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
}
}

.titulo {
    color: var(--primary-color);
}

.form-control {    
   border-right: none; 
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #cccc;
    outline: 0;
   box-shadow: 0 0 0 .25rem rgba(102, 238, 163, 0);
   border-right: none; 
}


.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: var(--bs-border-width) solid #cccc;
    border-radius: var(--bs-border-radius);
    color: var(--primary-color);
}

.container_principal {
    background-image: url('./assets/img/FUNDO.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-color: #002c09;
    padding-bottom: 900px;
    padding-top: 40px;  
   
}

.card-title {
    font-size: 24px;
}

#circle_status {
    font-size: 10px;
    display: inline-block;
    margin-right: 3px;
}

.card {
    max-width: 500px;
    width: 100%;
    margin: auto;   
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 20px;
}

.card-character {
    background-color: #314237;
    color: white;
}

.modal-content {
    background-color: #314237;
    color: white;
}

footer {
    background-color: #031a07;
    color: rgb(97, 96, 96);
    font-weight: bold;
}

